%h1= @book.title
%p
  %strong Price:
  $#{@book.price}
  %br/
  %strong Subject:
  = link_to Subject.find(@book.subject_id).name, action: "show", controller: 'subjects', id: @book.subject_id
  %br/
  %strong Publisher:
  = link_to @book.publisher.name, action: "show", controller: 'publishers', id: @book.publisher.id
  %br/
%p= @book.description
%hr/
= link_to "Edit Book", trestle.edit_books_admin_path(@book.id)
%br/
%br/
= link_to 'Back', {:action => 'index'}
