!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "en-us", "http-equiv" => "Content-Language"}/
    %title Library Info System
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application'
  %body#library
    #container
      #header
        %h1 Library Info System
        %h3 Library powered by Ruby on Rails
      %p.notice= notice
      %p.alert= alert
      #content
        = yield
      #sidebar
