%h1= "Library: " + @library.name
%h5
  = link_to "Edit Library", trestle.edit_library_locations_admin_path(@library.id)
  %h3
    = "Catalog"
  %table
    %tr
      %th Copy
      %th Title
    - Copy.where(library_location_id: @library.id).each do |c|
      %tr
        %td= c.name
        %td= link_to Book.find(c.book_id).title, action: 'show', controller: 'books', id: c.book_id
